@import url("https://fonts.googleapis.com/css2?family=Wire+One&display=swap");

body {
    background: radial-gradient(38.06% 53.59% at 50% 51.96%, rgba(0, 250, 145, 0.2) 0%, rgba(0, 101, 71, 0.2) 100%),
        radial-gradient(119.12% 93.15% at 50% 10.15%, rgba(0, 219, 255, 0.2) 0%, rgba(0, 52, 60, 0.2) 100%),
        linear-gradient(219.38deg, rgba(25, 71, 121, 0.32) 53.47%, rgba(30, 43, 58, 0.32) 94.86%),
        linear-gradient(0deg, #000518, #000518), linear-gradient(116deg, #1f2d38 6.79%, #304452 77.45%);
    font-family: "Ubuntu";
    font-weight: 400;
}

.main {
    max-width: 1200px;
    margin: auto;

    .nav-top {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .userLog {
            display: flex;
            align-self: end;
            font-size: 20px;
            color: #fff;

            .custLogin {
                margin-right: 3rem;
            }
        }

        .custLogin {
            a {
                color: #fff;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .nav-line {
        background: #fff;
        width: 100%;
        height: 1px;
    }

    .header-menu {
        margin-bottom: 5rem;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 18px;

        .menu-item:first-child {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        .menu-item:last-child {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .menu-item {
            border: 1px solid rgba(255, 255, 255, 0);
            padding: 0 4rem;
            transition: 0.6s;
            background: rgba(255, 255, 255, 0.2);
            cursor: pointer;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .menu-item:hover {
            border: 1px solid #fff;
            box-shadow: 2px 7px 4px rgba(255, 255, 255, 0.1);
            background: rgba(255, 255, 255, 0.3);
            transition: 0.6s;
        }
    }

    .banner {
        display: flex;
        font-family: "Wire One", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 90px;
        line-height: 99.94px;
        color: #ffffff;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 1rem;
        margin-bottom: 5rem;

        .banner-left {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .banner-right {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .nav-contain {
        border-radius: 10px;
        background: linear-gradient(180deg,
                rgba(255, 255, 255, 0.15) 0%,
                rgba(255, 255, 255, 0.081) 49.44%,
                rgba(255, 255, 255, 0.15) 100%);

        .nav-tabs {
            display: flex;
            justify-content: center;
            border-bottom: 0;

            .nav-item {
                padding: 0 2rem;

                .nav-link {
                    color: #fff;
                    border: none;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.02em;
                    opacity: 0.65;

                    color: #ffffff;

                    &.active {
                        opacity: 1;
                        background: none !important;
                    }
                }
            }
        }

        .tab-content {
            height: 200px;
            position: relative;

            a {
                color: #fff;
            }

            .tab-pane {
                padding: 1rem;
                font-weight: 300;
                font-size: 18px;
                line-height: 20px;
                color: #fff;
            }

            .loginBtn {
                background: linear-gradient(180deg, rgba(9, 202, 121, 0.5) 0%, rgba(10, 207, 42, 0.5) 100%);
                border: 1px solid #ffffff;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                padding: 0.35rem 2rem;
                width: 250px;
                text-align: center;
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translate(-50%);
            }
        }
    }

    .product-card-group {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        .product-card {
            flex: 0 0 30%;
            max-width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            background: linear-gradient(180deg,
                    rgba(255, 255, 255, 0.05) 20.41%,
                    rgba(255, 255, 255, 0.2) 73.19%,
                    rgba(255, 255, 255, 0.2) 73.19%);

            .card-bottom-group {
                color: #fff;
                text-align: center;
            }

            .card-img {
                padding: 1rem;
                margin-bottom: 5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    height: 120px;
                }
            }
        }
    }

    .border-home {
        margin-top: 2rem;
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding: 3rem;
        justify-content: center;

        .home-paragraph {
            color: #fff;
        }
    }

    .about-circle-group {
        margin-top: 3rem;
        margin-bottom: 3rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .about-circle {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 36px;
            color: #fff;
            font-family: "Wire one";
            background: rgba(255, 255, 255, 0.1);
            height: 215px;
            width: 215px;
            border-radius: 50%;
            border: 2px solid;
            border-color: lightgreen;
        }
    }
}

.login {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    width: 100%;

    .left {
        flex: 0 0 40%;
        max-width: 40%;
        display: flex;
        align-self: start;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 283px;
            height: 75px;
            margin: auto;
        }

        .login-input-group {
            margin-top: 15rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-self: center;

            input {
                background: rgba(255, 255, 255, 0.44);
                border: 0;
                border-radius: 10px;
                padding: 0.3rem 2rem;
            }

            label {
                text-align: center;
            }

            .input-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: #fff;
                font-size: 20px;
            }

            .login-btn {
                font-size: 20px;
                background: linear-gradient(180deg, rgba(9, 202, 121, 0.5) 0%, rgba(10, 207, 42, 0.5) 100%);
                box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
                border: 0;
                border-radius: 10px;
                padding: 0 2rem;
                color: #fff;
                margin-top: 2rem;
            }
        }
    }

    .right {
        flex: 0 0 60%;
        max-width: 60%;

        img {
            width: 100%;
            height: 970px;
            box-shadow: -15px 0px 45px 24px #1b9460;
            opacity: 0.1;
        }
    }
}

.custList {
    display: flex;
    justify-content: space-between;
    height: 970px;
}

.leftBar {
    height: 100%;
    background: #2c5a68;
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;

    .circle {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin: 0 auto;
        margin-top: 1rem;
        background: url("me.jpg");
        background-size: cover;
        background-position: center;
    }

    .title {
        color: #fff;
        font-size: 24px;
        margin-top: 1rem;
        text-align: center;
    }

    .leftBar-logo {
        text-align: center;
    }

    .img {
        width: 100%;
    }

    .leftBar-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: flex-end;
        margin-top: 5rem;
        margin-right: 0;

        .leftBar-menu-item {
            cursor: pointer;
            font-size: 20px;
            width: 250px;
            margin-bottom: 1rem;
            padding: 0.4rem;
            text-align: center;
            background: rgba(255, 255, 255, 0.3);
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.userList {
    flex: 0 0 80%;
    max-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        color: #fff;
        width: 100%;
        padding: .3rem 1rem;
    }

    .selectBlok {
        background: rgba(255, 255, 255, 0.3);
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;

        .blokinputGroup {
            input {
                border: none;
                border-radius: 5px;
                padding: .2rem 2rem;
            }
            margin-bottom: 3rem;
        }

        .selectFlatCircleGroup {
            display: flex;
            padding: 3rem;
            width: 100%;
            justify-content: center;

            .selectFlatCircle {
                margin: 0 .3rem;
                width: 35px;
                height: 35px;
                background: #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
            }
        }
    }

    .myTable {
        background: rgba(255, 255, 255, 0.3);
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 10px;

        .selectFlatCircleGroup {
            display: flex;
            width: 100%;
            justify-content: center;

            .selectFlatCircle {
                margin: 0 .3rem;
                width: 35px;
                height: 35px;
                background: #fff;
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                cursor: pointer;
            }
        }

        h1 {
            color: #fff;
            width: 100%;
            padding: 1rem;
        }

        .table-top-items {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            color: #fff;
            font-size: 34px;
        }

        .table-middle-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            color: #fff;
            font-size: 24px;
            text-align: center;

            .middle-item {
                text-align: center;
                width: 200px;
            }
        }

        .table-bottom-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .bottom-item {
                width: 200px;
                text-align: center;
            }
        }

        .custList-item-row {
            display: flex;
            color: #000518;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: rgba(255, 255, 255, 0.7);
            flex-wrap: wrap;

            .cust {
                display: flex;
                width: 100%;
                padding: 1rem 0;

                .cust-item {
                    width: 200px;
                    text-align: center;
                }
            }
        }
    }
}

.addBuild-list {
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    .build-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 2rem;
    }

    label {
        color: #fff;
        margin: 0;
        margin-right: 1rem;
    }

    input,
    select {
        background: rgba(255, 255, 255, 0.44);
        border: 0;
        border-radius: 5px;
        width: 250px;
        padding: 0.25rem 2rem;
    }

    .addBuild-btn {
        background: linear-gradient(180deg, rgba(9, 202, 121, 0.5) 0%, rgba(10, 207, 42, 0.5) 100%);
        border: 1px solid #ffffff;
        border-radius: 10px;
        padding: 0.25rem 2rem;
        width: 250px;
        text-align: center;
        margin: auto;
    }
}


.register {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    width: 100%;

    .left {
        flex: 0 0 40%;
        max-width: 40%;
        display: flex;
        align-self: start;
        text-align: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 283px;
            height: 75px;
            margin: auto;
        }

        .login-input-group {
            margin-top: 12rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-self: center;

            input {
                background: rgba(255, 255, 255, 0.44);
                border: 0;
                border-radius: 10px;
                padding: 0.3rem 2rem;
            }

            label {
                text-align: center;
            }

            .input-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                color: #fff;
                font-size: 20px;
            }

            .login-btn {
                font-size: 20px;
                background: linear-gradient(180deg, rgba(9, 202, 121, 0.5) 0%, rgba(10, 207, 42, 0.5) 100%);
                box-shadow: 0px 4px 4px rgba(255, 255, 255, 0.1);
                border: 0;
                border-radius: 10px;
                padding: 0 2rem;
                color: #fff;
                margin-top: 2rem;
            }
        }
    }

    .right {
        flex: 0 0 60%;
        max-width: 60%;

        img {
            width: 100%;
            height: 970px;
            box-shadow: -15px 0px 45px 24px #1b9460;
            opacity: 0.1;
        }
    }
}