<!DOCTYPE html>
<html lang="tr">

    <%- include("../inc/head") %> 

<body>
    <div class="custList">
        <%- include("../inc/leftbar") %>
            <div class="userList">
                <div class="myTable">
                    <div class="table-top-items">
                        <div class="top-item">Üyeler</div>
                        <div class="top-item">SMS Gönder</div>
                        <div class="top-item">Mail Gönder</div>
                    </div>
                    <div class="table-middle-items">
                        <div class="middle-item">Blok</div>
                        <div class="middle-item">No</div>
                        <div class="middle-item">Durumu</div>
                        <div class="middle-item">Ad Soyad</div>
                        <div class="middle-item">Bakiye</div>
                        <div class="middle-item">İşlem</div>
                    </div>
                    <div class="table-bottom-items">
                        <div class="bottom-item">
                            <select name="" id="">
                                <option>Tüm Bloklar</option>
                            </select>
                        </div>
                        <div class="bottom-item">
                            <select name="" id=""></select>
                        </div>
                        <div class="bottom-item">
                            <select name="" id="">
                                <option value="Aktif Mal Sahibi"></option>
                            </select>
                        </div>
                        <div class="bottom-item">
                            <input type="text">
                        </div>
                        <div class="bottom-item">
                            <select name="" id="">
                                <option value="">Tümü</option>
                            </select>
                        </div>
                        <div class="bottom-item">
                            <select name="" id="">
                                <option value="">Tümü</option>
                            </select>
                        </div>
                    </div>
                    <div class="custList-item-row">
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                        <div class="cust">
                            <div class="cust-item">A Blok</div>
                            <div class="cust-item">88</div>
                            <div class="cust-item">Ev Sahibi</div>
                            <div class="cust-item">Samet Soner Dokumacı</div>
                            <div class="cust-item">0$</div>
                            <div class="cust-item">ccc</div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>