<div class="nav-top">
    <img src="newlogo.png" alt="ProcellLogo">
    <!-- <div class="userLog">
        <div class="custLogin">
            <a href="/login"> Giriş</a>
        </div>
        <div class="custRegister">Kayıt Ol</div>
    </div> -->
</div>
<div class="nav-line"></div>
<header class="header-menu">
    <div class="menu-item">
        <a href="/" class="menu-link">Anasayfa</a>
    </div>
    <div class="menu-item">
        <a href="#" class="menu-link">Hakkımızda</a>
    </div>
    <div class="menu-item">
        <a href="#" class="menu-link">Ürünlerimiz</a>
    </div>
    <div class="menu-item">
        <a href="#" class="menu-link">Hizmetlerimiz</a>
    </div>
    <div class="menu-item">
        <a href="#" class="menu-link">Akademi</a>
    </div>
</header>