<div class="leftBar">
    <div class="leftBar-logo"><a href="/"><img src="newlogo.png" alt=""></a></div>
    <div class="circle"></div>
    <div class="title">Samet Soner Dokumacı</div>
    <div class="leftBar-menu">
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Üyeler
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Giderler
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Kasalar
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Raporlar
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Borçlandır
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Hukuki
            </a>
        </div>
        <div class="leftBar-menu-item">
            <a class="leftBar-menu-link">
                Tanımlar
            </a>
        </div>
    </div>
</div>