<!DOCTYPE html>
<html lang="tr">

    <%- include("./inc/head") %>

<body>
    <div class="main">
        <%-include("./inc/header")  %> 

        <div class="banner">
            <div class="banner-left">
                <div class="paragraf"><img src="logo.png" alt="BannerLogo"> Kusursuz site ve aidat yönetim sistemleri
                </div>
            </div>
            <div class="banner-right">
                <img src="bannerbuild.png" alt="build">
            </div>
        </div>
        <div class="nav-contain">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Site Yönetimi</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">Denetçi Girişi</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                        aria-controls="contact" aria-selected="false">Konut Sakini</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <span>lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.</span>
                    <a href="login"><div class="loginBtn">Giriş Yap</div></a>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <span>lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.</span>
                    <a href="denetci-girisi"><div class="loginBtn">Giriş Yap</div></a>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <span>lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.lorem ipsum.</span>
                    <a href="kullanici-girisi"><div class="loginBtn">Giriş Yap</div></a>
                </div>
            </div>
        </div>
        <div class="product-card-group">
            <div class="product-card">
                <div class="card-img"><img src="cardimg.png" alt=""></div>
                <div class="card-bottom-group">
                    <div class="card-text">Hizmet Türü ve Açıklaması</div>
                    <div class="card-btn">Görüntüle</div>
                </div>
            </div>
            <div class="product-card">
                <div class="card-img"><img src="cardimg.png" alt=""></div>
                <div class="card-bottom-group">
                    <div class="card-text">Hizmet Türü ve Açıklaması</div>
                    <div class="card-btn">Görüntüle</div>
                </div>
            </div>
            <div class="product-card">
                <div class="card-img"><img src="cardimg.png" alt=""></div>
                <div class="card-bottom-group">
                    <div class="card-text">Hizmet Türü ve Açıklaması</div>
                    <div class="card-btn">Görüntüle</div>
                </div>
            </div>
        </div>
        <div class="border-home">
            <img src="home.png" alt="">
            <div class="home-paragraph">
                PROCELL hizmetlerine hoşgeldiniz. lorem ipsum. lorem ipsum.lorem ipsum lorem ipsum.lorem ipsums!
            </div>
        </div>
        <div class="about-circle-group">
            <div class="about-circle">10.000+ <br>Ziyaret</div>
            <div class="about-circle">10.000+ <br>Ziyaret</div>
            <div class="about-circle">10.000+ <br>Ziyaret</div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>